.container {
  max-width: 600px;
  margin: 0 auto; /* centralize content */
}

.card {
  margin: 10px;
}

mat-form-field{
  width: 100%;
}

.form-row {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.order-detail {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

/* button[mat-icon-button] {
  align-self: flex-start;
} */
