.container {
  max-width: 600px;
  margin: 0 auto; /* centralize content */
}

.card {
  margin: 10px;
}

mat-form-field{
  width: 100%;
}

.form-row {
  display: flex;
  gap: 6px;
}

.order-detail {
  display: flex;
  align-items: center;
  gap: 6px;
}

