<div>
    <app-theme-toggle></app-theme-toggle>
    <header>
        <nav>
            <a routerLink="/orders" routerLinkActive="active-link">Orders</a>
            <a routerLink="/order-details" routerLinkActive="active-link">Order Details</a>
            <a routerLink="/create-order" routerLinkActive="active-link">Create Order</a>
            <a routerLink="/update-order" routerLinkActive="active-link">Edit Order</a>
        </nav>
    </header>
    
    <main>
        <router-outlet></router-outlet>
    </main>
</div>
