@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "assets/light-theme.css";
@import "assets/dark-theme.css";

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

/* Hides increas/decreasing arrows from input caused by type="number" */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
